.header {
  display: flex;
  align-items: center;
  margin-top: 32px;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__logo {
  padding-left: 40px;
}

.header__button-add-clothes {
  margin-left: auto;
  width: 116px;
  height: 24px;
  border: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.header__username {
  padding-left: 20px;
  padding-right: 12px;
}

.header__date-location {
  margin-left: 24px;
}
